{% extends 'base.html' %}
{% block title %} Welcome {% endblock title %}

{% block body %}
<div class="card mx-auto" style="max-width: 800px;">
    <div class="card-body">
        <h2 class="card-title mb-4">Hello {{name}}</h2>
        <h3>Banking Services</h3>
            <li><a href="{{ url_for('index') }}" class="mb-3">Money</a></li>
            <li><a href="{{ url_for('index') }}" class="mb-3">Verify</a></li>
            <li><a href="{{ url_for('index') }}" class="mb-3">About Us</a></li>
            
    </div>
</div>
{% endblock body %}